VITE_SUPABASE_URL=https://ckyompzffljljkuawijb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNreW9tcHpmZmxqbGprdWF3aWpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0NTk1NjAsImV4cCI6MjEwNjAzNTU2MH0._rIL_DabbO88B1tW4vQp93qnVwBFZwgZkUdQ_1qn8lI
